.*
!.gitignore
*.suo
*.user
bin/
obj/
*.pdb
*.exe
*.dll
*.lib
*.ncb
*.sdf
*.log
*.bak
Thumbs.db
Desktop.ini
*.cache
/DebtManagment/DebtManagment_PersentationLayer/DebtManagment_PersentationLayer.csproj
/DebtManagment/DebtManagment_PersentationLayer/DebtManagment_PersentationLayer.csproj
/DebtManagment/DebtManagment_PersentationLayer/DebtManagment_PersentationLayer.csproj
